@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Roles","Account")" title="My Roles"><i class="fa fa-user"></i> @String.Format("{0}{1}",User.Identity.GetUserName(), User.IsInRole(RemoteLab.Properties.Settings.Default.AdministratorADGroup) ? " (Administrator)" : "")</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login","Account", null)" id="loginLink"><i class="fa fa-lock"></i> Log In</a>
        </li>
    </ul>
}
