@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    ViewBag.Message = "An internal server error occurred while processing your request.";
}


<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title text-danger"><i class="fa fa-exclamation-triangle"></i> Error</h1>
    </div>
    <div class="panel-body">
        <h2 class="text-danger"><i class="fa fa-exclamation-triangle"></i> @ViewBag.Message</h2>

        @Model.Exception.Message.ToString()
        <br />
        <br />
        <br/>
        <p>Details of the error, including a stack trace, have been recorded to the web application error log.</p>
    </div>
</div>
