@model RemoteLab.Models.DownloadEventsViewModel 
@{
    ViewBag.Title = "Remote Lab - Download Scripts";
}

<h2><i class="fa fa-download"></i> Download Scripts For: @ViewBag.CurrentPool</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<p>There are two files for download:</p>
<ol>
    <li>The <strong>Settings Script Package</strong> contains the startup, shutdown, logon, logoff scripts you need to run on your Remote Lab computers in this pool.</li>
    <li>The <strong>Download Settings Script</strong> your custom <strong>RemoteLabSettings.vbs</strong> file you need to replate in the script package. </li>
</ol>
<p>
    <a href="@Url.Content("~/Content/Scripts.zip")" class="btn btn-default"><i class="fa fa-file-archive-o"></i> Download Script Package</a>
    <button type="submit" value="Download" class="btn btn-default"><i class="fa fa-file-code-o"></i> Download Settings Script</button>
    <a href="@Url.Action("Index")" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Go Back To Pools</a>
</p>
}
