
@{
    ViewBag.Title = "Remote Lab - New Reservation";

    int userPoolCount = (int)HttpContext.Current.Session["POOL-COUNT"];
}

<h2>New Reservation</h2>

@Html.Raw(ViewBag.WelcomeMessage)

<form method="post" role="form" id="rezform" action="@Url.Action("MakeRez")">
    @Html.AntiForgeryToken()
    <button id="agree" type="submit" class="btn btn-lg btn-success" title="Make My Reservation" value="Make My Reservation">Make My Reservation</button>
    @if (userPoolCount>1)
    { 
        <a href="@Url.Action("ChooseDifferentPool")" id="differentpool" class="btn btn-lg btn-primary" title="Choose A Different Pool">Choose A Different Pool</a>
    }
</form>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#agree").click(function () {
            var btn2 = $("#differentpool");
            btn2.attr("class", "btn btn-lg btn-default");
            btn2.attr("disabled", "disabled");

            var btn = $("#agree");
            var msg = " Verifying Remote Lab Availability ";
            var cog = "<i class=\"fa fa-cog fa-spin\"></i>";
            btn.attr("title", msg);
            btn.attr("value", msg);
            btn.attr("class", "btn btn-lg btn-default");
            btn.attr("disabled", "disabled");
            btn.html(cog + msg + cog);
            $("#rezform").submit();
        });
    });
</script>

}

