
@{
    ViewBag.Title = "PoolFull";
}

<h2>Remote Lab is Full</h2>

<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> There are no available computers at this time. Please check back later</div>

<p>No need to file a helpdesk ticket. We are aware and actively monitoring demand.</p>
<p>Thank you for your patience - iSchool Technology Services</p>
