<button type="button" class="btn btn-lg btn-primary" disabled="disabled">Total Seats: @ViewBag.Total</button>
<button type="button" class="btn btn-lg btn-success" disabled="disabled">Available:@ViewBag.Available</button>
<button type="button" class="btn btn-lg btn-danger" disabled="disabled">In Use: @ViewBag.InUse</button>

