@{
    ViewBag.Title = "Remote Lab - About";
}
<h2><i class="fa fa-info-circle"></i> About</h2>

<div class="container">
    @HttpContext.Current.Application["NAME"] Version @HttpContext.Current.Application["VERSION"] Build @HttpContext.Current.Application["BUILD"]<br />
    @HttpContext.Current.Application["COPYRIGHT"]
</div>