<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
    <connectionStrings xdt:Transform="Replace">
      <add name="RemoteLabContext" 
        connectionString="Persist Security Info=True;Data Source=ServerName;Initial Catalog=DbName;User Id=DbUser;Password=DbPassword" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <RemoteLab.Properties.Settings>
      <setting name="AdministratorADGroup" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>AdministratorADGroup</value>
      </setting>
      <setting name="ActiveDirectoryDNSDomain" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>ActiveDirectoryDNSDomain</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>SmtpServer</value>
      </setting>
      <setting name="SmtpMessageFromAddress" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>SmtpMessageFromAddress</value>
      </setting>
      <setting name="ActiveDirectoryDomain" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>ActiveDirectoryDomain</value>
      </setting>
      <setting name="LoginFormUsernameLabel" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>User Name</value>
      </setting>
      <setting name="LoginFormPasswordLabel" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Password</value>
      </setting>
      <setting name="EncryptionKeyForPasswords" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>EncryptionKeyForPasswords</value>
      </setting>
    </RemoteLab.Properties.Settings>
  </applicationSettings>
</configuration>