
<div class="input-group">
    @Html.Password(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new { id = "passwordinput", @class = "form-control" })
    <span class="input-group-btn">
        <button id="passwordinputtoggle" type="button" class="btn btn-default">Show</button>
    </span>
</div>